.soratra{
		color: white;
		margin-left: 580px;
		font-size: 210%;
	}
	.fa-power-off{
		color: blue;
		margin-left: 312px;
	}
	.produits{
		margin-left: 32px;
		background-color: orange;
		font-size: 123%;
	}
	.bt{
		margin-left: 21px;
		color: blue;
	}
	.tb{
		margin-left: 21px;
		color: blue;
	}
	.crr{
		margin-left: 385px;
		font-size: 151%;
	}
	.Qt{
		margin-left: 385px;
	}
	.button btn-primary{
		margin-left: 385px
	}